.ajuda-seguranca-menu {
  box-sizing: border-box;
  padding: 20px 180px 40px 180px;
  background-color: white;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.1);
}

.ajuda-seguranca-menu__container {
  display: flex;
  gap: 69px;
}

.ajuda-seguranca-menu__account {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 270px;
  align-items: flex-start;
}

.ajuda-seguranca-menu__account-image-container {
  width: 270px;
  height: 200px;
  border-radius: 20px;
  overflow: hidden;
  background-color: white;
}

.ajuda-seguranca-menu__account-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ajuda-seguranca-menu__account-title {
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
  color: #2f2f2f;
  margin: 0;
}

.ajuda-seguranca-menu__account-link {
  display: flex;
  align-items: center;
  gap: 4px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #3483fa;
  text-decoration: none;
  white-space: nowrap;
  position: relative;
  transition: color 0.3s ease;
}

.ajuda-seguranca-menu__account-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: #3483fa;
  transition: width 0.3s ease;
}

.ajuda-seguranca-menu__account-link:hover::after {
  width: 100%;
}

.ajuda-seguranca-menu__account-link img {
  width: 16px;
  height: 16px;
}

.ajuda-seguranca-menu__list {
  display: flex;
  flex-grow: 1;
  gap: 16px;
}

.ajuda-seguranca-menu__list-section {
  display: flex;
  flex-direction: column;
  gap: 17px;
  width: 271px;
}

.ajuda-seguranca-menu__list-title {
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #bfbfbf;
  text-transform: uppercase;
  letter-spacing: 0.64px;
  margin: 0;
}

.ajuda-seguranca-menu__list-title--disabled {
  color: rgba(0, 0, 0, 0.25);
}

.ajuda-seguranca-menu__product-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.ajuda-seguranca-menu__product-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: rgba(0, 0, 0, 0.9);
  transition: color 0.3s ease;
}

.ajuda-seguranca-menu__product-item h4,
.ajuda-seguranca-menu__product-item p {
  transition: color 0.3s ease;
}

.ajuda-seguranca-menu__container:hover .ajuda-seguranca-menu__product-item {
  color: rgba(0, 0, 0, 0.55);
}

.ajuda-seguranca-menu__container .ajuda-seguranca-menu__product-item:hover {
  color: rgba(0, 0, 0, 0.9);
}

.ajuda-seguranca-menu__product-item h4 {
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
}

.ajuda-seguranca-menu__product-item p {
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  margin: 0;
}

